html,
body,
#root {
	height: 100%;
	margin: 0;
}

.app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/* Header */
.app-header {
	padding: 2rem;
	text-align: center;
	background-color: cornflowerblue;
	color: antiquewhite;
}

.content {
	display: flex;
	justify-content: left;
	gap: 3rem;
	margin: 3rem 5rem;
}

/* Footer sticks to bottom */
.app-footer {
	margin-top: auto; /* pushes footer down */
	font-size: 12px;
	color: #888;
	text-align: center;
	padding: 10px;
	background: #f5f5f5; /* optional: give footer background */
}
