body {
	margin: 0;
	font-family: roboto;
	background-color: #ffffff00;
	color: black;
	display: flex;
	justify-content: center;
}

.app {
	width: 100%;
	max-width: 900px;
	text-align: center;
	padding: 20px;
}
